<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>National Historic Sites</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/webp" href="/imgs/ca-40x30.webp">
</head>

<body>
    <%- include('partials/navbar', {page: '/about' }) %>

        <div class="container mx-auto">
            <div class="hero bg-base-200 rounded-lg p-6">
                <div class="hero-content text-center">
                    <div class="max-w-md">
                        <h1 class="text-5xl font-bold">About</h1>
                        <p class="py-6">
                            Everything you need to know about the author!
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                    <img class="w-full rounded-lg"
                        src="https://i.pinimg.com/736x/31/21/f8/3121f86b48dcefa69b75c8ef36e125a8.jpg" alt="profile" />

                </div>
                <div class="prose">

                    <p>My name is Aleeza Ahmad and I'm currently studying Computer Programming and Analysis
                        at Seneca Polytechnic. I am in my second year and enjoy learning about UI and Web
                        development tools. I am taking DBS311, OOP345, WEB322, NAT109, WTP100, and SYD366. I
                        look forward to enhancing my programming skills further and finding new and innovative ways
                        to implement solutions to complex problems.</p>
                    <p>Other than coding, I enjoy gaming, baking and reading in my free time as well as spending time
                        with
                        my
                        loved ones. This reading week I look forward to watching new shows and movies. A show I am
                        currently watching is Hunter x Hunter and Mashle, both are anime's I really enjoy. I also
                        work part time at Legoland Discovery Centre and enjoy seeing kids play around the attraction
                        while gaining hands-on experience in the workplace.
                    </p>

                </div>
            </div>
        </div>
</body>

</html>